<div class="Container">
    <div class="Image">
        <img style="width:100%" src="../../assets/image/anh dth.jpg" alt="Ảnh Home Register" />
    </div>
    <h1 class="Title">Login</h1>
    <div class="Form">
        <form method="get" action="#">
            <label>Email</label>
            <br/>
            <input class="Box" type="text" name="email" required/>
            <br/>
            <label>Password</label>
            <br/>
            <input class="Box" type="text" name="password" required/>
        </form>
        <a routerLink="/ForgotPass" class="Forgot-Pass">Forgot Password</a>
    </div>
    <ul class="List-Software">
        <li class="List-Icon"><a routerLink="#"><i class="fa fa-google"></i></a></li>
        <li class="List-Icon"><a routerLink="#"><i class="fa fa-facebook"></i></a></li>
        <li class="List-Icon"><a routerLink="#"><i class="fa fa-apple"></i></a></li>
    </ul>
    <div class="Footer-Content">
        <span>New Here?</span><span><a class="Register" routerLink="/Register">  Register</a></span>
    </div>
    <div class="Login">
        <p class="Link-Login"><a routerLink="/Login-Success">Login</a></p>
    </div>
</div>