<div class="Container">
    <div class="Image">
        <img style="width: 100%;" src="../../assets/image/anh dth.jpg" alt="Ảnh Home Register" />
    </div>
    <h1 class="Title">Register</h1>
    <div class="Form">
        <form method="get" action="#">
            <label>Full Name</label>
            <br/>
            <input class="Box" type="text" name="fullname" required/>
            <br/>
            <label>Email</label>
            <br/>
            <input class="Box" type="text" name="email" required/>
            <br/>
            <label>Password</label>
            <br/>
            <input class="Box" type="text" name="password" required/>
        </form>
    </div>
    <ul class="List-Software">
        <li class="List-Icon"><a routerLink="#"><i class="fa fa-google"></i></a></li>
        <li class="List-Icon"><a routerLink="#"><i class="fa fa-facebook"></i></a></li>
        <li class="List-Icon"><a routerLink="#"><i class="fa fa-apple"></i></a></li>
    </ul>
    <div class="Footer-Content">
        <span>Already Member?</span><span><a class="Login" routerLink="/Login">  Login</a></span>
    </div>
    <div class="Register">
        <p class="Link-Register"><a routerLink="/Regis-Success">Register</a></p>
    </div>
</div>